.header {
    padding: 25px;
    display: flex;
    justify-content: center;

    a {
        text-decoration: none;
        color: #19b5fe;

        &.active {
            text-decoration: underline;
        }
    }

    a + a {
        margin-left: 25px;
    }
}
